<div style="display: table;">
    <div style="display: table-row">
        <div style="display: table-cell;">
            <div style="display: table;">
                <div style="display: table-row">
                    <div style="display: table-cell;">
                        <textarea id="taPMMessages" cols="10" rows="5" readonly="readonly" style="resize: none;
                            width: 348px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: table-row">
        <div style="display: table-cell;">
            <div style="display: table;">
                <div style="display: table-row">
                    <div style="display: table-cell;">
                        <input id="newPMMessage" type="text" />
                    </div>
                    <div style="display: table-cell;">
                        <input id="btnSendPM" type="button" value="Send" style="padding-right: 0px; margin-left: 19px;
                            margin-right: 12px;" />
                        <input id="btnClearPMBox" type="button" value="Clear" style="padding-left: 0px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
