@{
    ViewBag.Title = "Error page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="serverError" style="margin:0 auto;width:470px;color:Red;">Unexpected error occured. Click the following link to move to main page.</div><br />
<div style="margin: 0 auto;width:200px;"><a href="/Home/Index">Main page</a></div>